html body {
	width: 100%;
	height: 100%;
	margin: 0px;
	font-family: 'Lato';
	background-color: black;
}

.wrapper {
	display: grid;
	grid-template-areas:  "header";
	grid-template-columns: 1fr;
	color: #444;
}

.desc {
	background-color: #444;
	color: #fff;
	padding: 20px;
}

.desc:nth-child(4n) {
	background-color: black;
}
/* 
.heading {
	color: green;
}

.close {
	color: black important!;
} */

.player {
	width: 100%;
	background-color: #444;
	color: #fff;
}

.main-player {
	width: 100%;
	background-color: #444;
	color: #fff;
}

video {
	width: 100%;
}

.header {
	grid-area: header;
	background-color: black;
	color: #fff;
	padding: 20px;
	margin-inline-start: 7em;
}

.btn-row {
	text-align: center;
	margin-top: 1em;
}

@media screen and (min-width: 1200px) {
	.wrapper {
		display: grid;
		grid-template-areas:  "header header";
		grid-template-columns: 1fr 1fr;
		color: #444;
	}
}

/* Fix the player container to take up 100% width and to calculate its height based on its children. */
[data-player] {
	position: relative;
	width: 100%;
	height: auto;
	margin: 0;    
}

/* Fix the video container to take up 100% width and to calculate its height based on its children. */
[data-player] .container[data-container] {
	width: 100%;
	height: auto;
	position: relative;
}

/* Fix the media-control element to take up the entire size of the player. */
[data-player] .media-control[data-media-control] {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

/* Fix the video element to take up 100% width and to calculate its height based on its natural aspect ratio. */
[data-player] video {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
}

.footer-dark {
	text-align: center;
	padding: 1em 0;
	color: #f0f9ff;
	background-color: #282d32
}

.footer-dark h3 {
	margin-top: 0;
	/* margin-bottom: 12px; */
	font-weight: bold;
	font-size: 16px
}

.footer-dark ul {
	padding: 0;
	list-style: none;
	line-height: 1.6;
	font-size: 14px;
	margin-bottom: 0
}

.footer-dark ul a {
	color: inherit;
	text-decoration: none;
	opacity: 0.6
}

.footer-dark ul a:hover {
	opacity: 0.8
}

@media (max-width:767px) {
	.footer-dark .item:not(.social) {
			text-align: center;
			padding-bottom: 20px
	}
}

.footer-dark .item.text {
	margin-bottom: 36px
}

@media (max-width:767px) {
	.footer-dark .item.text {
			margin-bottom: 0
	}
}

.footer-dark .item.text p {
	opacity: 0.6;
	margin-bottom: 0
}

.footer-dark .item.social {
	text-align: center
}

@media (max-width:991px) {
	.footer-dark .item.social {
			text-align: center;
			margin-top: 20px
	}
}

.footer-dark .item.social>a {
	font-size: 20px;
	width: 36px;
	height: 36px;
	line-height: 36px;
	display: inline-block;
	text-align: center;
	border-radius: 50%;
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
	margin: 0 8px;
	color: #fff;
	opacity: 0.75
}

.footer-dark .item.social>a:hover {
	opacity: 0.9
}

.footer-dark .copyright {
	text-align: center;
	opacity: 0.3;
	font-size: 13px;
	margin-bottom: 0
}

#hiring {
	cursor: pointer
}